/**
 * Search form.
 */
.search-form {
  margin-bottom: 1em;
}
.search-form p {
  margin-top: 0;
  margin-bottom: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
}
.search-form input {
  margin-top: 0;
  margin-bottom: 0;
}
.search-advanced .criterion {
  float: left;
  margin-right: 2em;
}
.search-advanced .action {
  float: left;
  clear: left;
}

/**
 * Search results.
 */
dl.search-results {
  margin: 0.5em 0 1em 0.5em;
}
dl.search-results p {
  margin-top: 0;
}
dl.search-results dt {
  font-size: 1.1em;
}
dl.search-results dd {
  margin-left: 1em;
  margin-bottom: 1em;
}
dl.search-results .search-links {
  margin: 0;
  font-size: 0.85em;
}
dl.search-results .search-info {
  margin-top: 0;
  font-size: 0.85em;
}
dl.search-results .search-excerpt {
  margin-bottom: 0.2em;
}
dl.search-results .search-keyword-match {
  font-weight: bold;
}
dl.search-results .search-chunk-separator {
  font-weight: normal;
}
